$primary: #9155fd;
$secondary: #8a8d93;
$accent: #0d6efd;

$dark: #1d1d1d;
$bg: #f4f5fa;
$bg2: #c48eff;

$positive: #21ba45;
$negative: #c10015;
$info: #16b1ff;
$warning: #ffb400;

// enum color
$waiting: #fff2cc;
$waiting_too_long: #f9cb9c;
$handling: #d9ead3;
$confirming: #1976d2;
$done: #cccccc;
$canceled: #f4cccd;
$active: #d9ead3;
$deactive: #f4cccd;
$oos: #f4cccd;
$oos_too_long: #f9cb9c
